##### Association Rules - Apriori

Install the libraries

In [1]:
%pip install mlxtend

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mlxtend in c:\users\rajesh\appdata\roaming\python\python312\site-packages (0.23.3)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
dataset = [['üçé', 'üç∫', 'üçö', 'üçó'],
           ['üçé', 'üç∫', 'üçö'],
           ['üçé', 'üç∫'],
           ['üçé', 'üçê'],
           ['ü•õ', 'üç∫', 'üçö', 'üçó'],
           ['ü•õ', 'üç∫', 'üçö'],
           ['ü•õ', 'üç∫'],
           ['ü•õ', 'üçê']]

In [4]:
dataset = [['Apple', 'Bear', 'Rice', 'Chicken'],
           ['Apple', 'Bear', 'Rice'],
           ['Apple', 'Bear'],
           ['Apple', 'Pear'],
           ['Milk', 'Bear', 'Rice', 'Chicken'],
           ['Milk', 'Bear', 'Rice'],
           ['Milk', 'Bear'],
           ['Milk', 'Pear']]

dataset

[['Apple', 'Bear', 'Rice', 'Chicken'],
 ['Apple', 'Bear', 'Rice'],
 ['Apple', 'Bear'],
 ['Apple', 'Pear'],
 ['Milk', 'Bear', 'Rice', 'Chicken'],
 ['Milk', 'Bear', 'Rice'],
 ['Milk', 'Bear'],
 ['Milk', 'Pear']]

In [5]:
from mlxtend.preprocessing import TransactionEncoder

In [6]:
te = TransactionEncoder()

In [7]:
data_new = te.fit_transform(dataset)
data_new

array([[ True,  True,  True, False, False,  True],
       [ True,  True, False, False, False,  True],
       [ True,  True, False, False, False, False],
       [ True, False, False, False,  True, False],
       [False,  True,  True,  True, False,  True],
       [False,  True, False,  True, False,  True],
       [False,  True, False,  True, False, False],
       [False, False, False,  True,  True, False]])

In [8]:
te.columns_

['Apple', 'Bear', 'Chicken', 'Milk', 'Pear', 'Rice']

In [9]:
df = pd.DataFrame(data=data_new, columns=te.columns_)
df

   Apple   Bear  Chicken   Milk   Pear   Rice
0   True   True     True  False  False   True
1   True   True    False  False  False   True
2   True   True    False  False  False  False
3   True  False    False  False   True  False
4  False   True     True   True  False   True
5  False   True    False   True  False   True
6  False   True    False   True  False  False
7  False  False    False   True   True  False

##### 1. Generate the frequent itemsets

In [10]:
from mlxtend.frequent_patterns import apriori

In [11]:
freq_itemset = apriori(df, min_support=0.25, use_colnames=True)
freq_itemset

    support               itemsets
0     0.500                (Apple)
1     0.750                 (Bear)
2     0.250              (Chicken)
3     0.500                 (Milk)
4     0.250                 (Pear)
5     0.500                 (Rice)
6     0.375          (Apple, Bear)
7     0.250          (Rice, Apple)
8     0.250        (Chicken, Bear)
9     0.375           (Milk, Bear)
10    0.500           (Rice, Bear)
11    0.250        (Rice, Chicken)
12    0.250           (Rice, Milk)
13    0.250    (Rice, Apple, Bear)
14    0.250  (Rice, Chicken, Bear)
15    0.250     (Rice, Milk, Bear)

##### 2. Generate the association rules

In [12]:
from mlxtend.frequent_patterns import association_rules

In [13]:
rules = association_rules(freq_itemset, min_threshold=0.5, metric='confidence', num_itemsets=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Apple),(Bear),0.500,0.750,0.375,0.750000,1.000000,1.0,0.0000,1.00,0.000000,0.428571,0.000000,0.625000
1,(Bear),(Apple),0.750,0.500,0.375,0.500000,1.000000,1.0,0.0000,1.00,0.000000,0.428571,0.000000,0.625000
2,(Rice),(Apple),0.500,0.500,0.250,0.500000,1.000000,1.0,0.0000,1.00,0.000000,0.333333,0.000000,0.500000
3,(Apple),(Rice),0.500,0.500,0.250,0.500000,1.000000,1.0,0.0000,1.00,0.000000,0.333333,0.000000,0.500000
4,(Chicken),(Bear),0.250,0.750,0.250,1.000000,1.333333,1.0,0.0625,inf,0.333333,0.333333,1.000000,0.666667
5,(Milk),(Bear),0.500,0.750,0.375,0.750000,1.000000,1.0,0.0000,1.00,0.000000,0.428571,0.000000,0.625000
6,(Bear),(Milk),0.750,0.500,0.375,0.500000,1.000000,1.0,0.0000,1.00,0.000000,0.428571,0.000000,0.625000
7,(Rice),(Bear),0.500,0.750,0.500,1.000000,1.333333,1.0,0.1250,inf,0.500000,0.666667,1.000000,0.833333
8,(Bear),(Rice),0.750,0.500,0.500,0.666667,1.333333,1.0,0.1250,1.50,1.000000,0.666667,0.333333,0.833333
9,(Rice),(Chicken),0.500,0.250,0.250,0.500000,2.000000,1.0,0.1250,1.50,1.000000,0.500000,0.333333,0.750000
10,(Chicken),(Rice),0.250,0.500,0.250,1.000000,2.000000,1.0,0.1250,inf,0.666667,0.500000,1.000000,0.750000
11,(Rice),(Milk),0.500,0.500,0.250,0.500000,1.000000,1.0,0.0000,1.00,0.000000,0.333333,0.000000,0.500000
12,(Milk),(Rice),0.500,0.500,0.250,0.500000,1.000000,1.0,0.0000,1.00,0.000000,0.333333,0.000000,0.500000
13,"(Rice, Apple)",(Bear),0.250,0.750,0.250,1.000000,1.333333,1.0,0.0625,inf,0.333333,0.333333,1.000000,0.666667
14,"(Rice, Bear)",(Apple),0.500,0.500,0.250,0.500000,1.000000,1.0,0.0000,1.00,0.000000,0.333333,0.000000,0.500000
15,"(Apple, Bear)",(Rice),0.375,0.500,0.250,0.666667,1.333333,1.0,0.0625,1.50,0.400000,0.400000,0.333333,0.583333
16,(Rice),"(Apple, Bear)",0.500,0.375,0.250,0.500000,1.333333,1.0,0.0625,1.25,0.500000,0.400000,0.200000,0.583333
17,(Apple),"(Rice, Bear)",0.500,0.500,0.250,0.500000,1.000000,1.0,0.0000,1.00,0.000000,0.333333,0.000000,0.500000
18,"(Rice, Chicken)",(Bear),0.250,0.750,0.250,1.000000,1.333333,1.0,0.0625,inf,0.333333,0.333333,1.000000,0.666667
19,"(Rice, Bear)",(Chicken),0.500,0.250,0.250,0.500000,2.000000,1.0,0.1250,1.50,1.000000,0.500000,0.333333,0.750000
20,"(Chicken, Bear)",(Rice),0.250,0.500,0.250,1.000000,2.000000,1.0,0.1250,inf,0.666667,0.500000,1.000000,0.750000
21,(Rice),"(Chicken, Bear)",0.500,0.250,0.250,0.500000,2.000000,1.0,0.1250,1.50,1.000000,0.500000,0.333333,0.750000
22,(Chicken),"(Rice, Bear)",0.250,0.500,0.250,1.000000,2.000000,1.0,0.1250,inf,0.666667,0.500000,1.000000,0.750000
23,"(Rice, Milk)",(Bear),0.250,0.750,0.250,1.000000,1.333333,1.0,0.0625,inf,0.333333,0.333333,1.000000,0.666667
24,"(Rice, Bear)",(Milk),0.500,0.500,0.250,0.500000,1.000000,1.0,0.0000,1.00,0.000000,0.333333,0.000000,0.500000
25,"(Milk, Bear)",(Rice),0.375,0.500,0.250,0.666667,1.333333,1.0,0.0625,1.50,0.400000,0.400000,0.333333,0.583333
26,(Rice),"(Milk, Bear)",0.500,0.375,0.250,0.500000,1.333333,1.0,0.0625,1.25,0.500000,0.400000,0.200000,0.583333
27,(Milk),"(Rice, Bear)",0.500,0.500,0.250,0.500000,1.000000,1.0,0.0000,1.00,0.000000,0.333333,0.000000,0.500000

In [14]:
rules = rules.iloc[:, [0, 1, 4, 5]]
rules

        antecedents      consequents  support  confidence
0           (Apple)           (Bear)    0.375    0.750000
1            (Bear)          (Apple)    0.375    0.500000
2            (Rice)          (Apple)    0.250    0.500000
3           (Apple)           (Rice)    0.250    0.500000
4         (Chicken)           (Bear)    0.250    1.000000
5            (Milk)           (Bear)    0.375    0.750000
6            (Bear)           (Milk)    0.375    0.500000
7            (Rice)           (Bear)    0.500    1.000000
8            (Bear)           (Rice)    0.500    0.666667
9            (Rice)        (Chicken)    0.250    0.500000
10        (Chicken)           (Rice)    0.250    1.000000
11           (Rice)           (Milk)    0.250    0.500000
12           (Milk)           (Rice)    0.250    0.500000
13    (Rice, Apple)           (Bear)    0.250    1.000000
14     (Rice, Bear)          (Apple)    0.250    0.500000
15    (Apple, Bear)           (Rice)    0.250    0.666667
16           (Rice)    (Apple, Bear)    0.250    0.500000
17          (Apple)     (Rice, Bear)    0.250    0.500000
18  (Rice, Chicken)           (Bear)    0.250    1.000000
19     (Rice, Bear)        (Chicken)    0.250    0.500000
20  (Chicken, Bear)           (Rice)    0.250    1.000000
21           (Rice)  (Chicken, Bear)    0.250    0.500000
22        (Chicken)     (Rice, Bear)    0.250    1.000000
23     (Rice, Milk)           (Bear)    0.250    1.000000
24     (Rice, Bear)           (Milk)    0.250    0.500000
25     (Milk, Bear)           (Rice)    0.250    0.666667
26           (Rice)     (Milk, Bear)    0.250    0.500000
27           (Milk)     (Rice, Bear)    0.250    0.500000

##### Sort Rules

In [15]:
rules.sort_values(by='confidence', ascending=False)

        antecedents      consequents  support  confidence
22        (Chicken)     (Rice, Bear)    0.250    1.000000
20  (Chicken, Bear)           (Rice)    0.250    1.000000
4         (Chicken)           (Bear)    0.250    1.000000
13    (Rice, Apple)           (Bear)    0.250    1.000000
7            (Rice)           (Bear)    0.500    1.000000
18  (Rice, Chicken)           (Bear)    0.250    1.000000
23     (Rice, Milk)           (Bear)    0.250    1.000000
10        (Chicken)           (Rice)    0.250    1.000000
0           (Apple)           (Bear)    0.375    0.750000
5            (Milk)           (Bear)    0.375    0.750000
15    (Apple, Bear)           (Rice)    0.250    0.666667
8            (Bear)           (Rice)    0.500    0.666667
25     (Milk, Bear)           (Rice)    0.250    0.666667
21           (Rice)  (Chicken, Bear)    0.250    0.500000
24     (Rice, Bear)           (Milk)    0.250    0.500000
26           (Rice)     (Milk, Bear)    0.250    0.500000
19     (Rice, Bear)        (Chicken)    0.250    0.500000
14     (Rice, Bear)          (Apple)    0.250    0.500000
17          (Apple)     (Rice, Bear)    0.250    0.500000
16           (Rice)    (Apple, Bear)    0.250    0.500000
1            (Bear)          (Apple)    0.375    0.500000
12           (Milk)           (Rice)    0.250    0.500000
11           (Rice)           (Milk)    0.250    0.500000
9            (Rice)        (Chicken)    0.250    0.500000
6            (Bear)           (Milk)    0.375    0.500000
3           (Apple)           (Rice)    0.250    0.500000
2            (Rice)          (Apple)    0.250    0.500000
27           (Milk)     (Rice, Bear)    0.250    0.500000

In [16]:
rules.sort_values(by='confidence', ascending=False).head(5)

        antecedents   consequents  support  confidence
22        (Chicken)  (Rice, Bear)     0.25         1.0
20  (Chicken, Bear)        (Rice)     0.25         1.0
4         (Chicken)        (Bear)     0.25         1.0
13    (Rice, Apple)        (Bear)     0.25         1.0
7            (Rice)        (Bear)     0.50         1.0

In [17]:
rules[rules['confidence'] > 0.6]

        antecedents   consequents  support  confidence
0           (Apple)        (Bear)    0.375    0.750000
4         (Chicken)        (Bear)    0.250    1.000000
5            (Milk)        (Bear)    0.375    0.750000
7            (Rice)        (Bear)    0.500    1.000000
8            (Bear)        (Rice)    0.500    0.666667
10        (Chicken)        (Rice)    0.250    1.000000
13    (Rice, Apple)        (Bear)    0.250    1.000000
15    (Apple, Bear)        (Rice)    0.250    0.666667
18  (Rice, Chicken)        (Bear)    0.250    1.000000
20  (Chicken, Bear)        (Rice)    0.250    1.000000
22        (Chicken)  (Rice, Bear)    0.250    1.000000
23     (Rice, Milk)        (Bear)    0.250    1.000000
25     (Milk, Bear)        (Rice)    0.250    0.666667

In [18]:
rules[rules['confidence'] > 0.6].sort_values(by='confidence', ascending=False)

        antecedents   consequents  support  confidence
4         (Chicken)        (Bear)    0.250    1.000000
7            (Rice)        (Bear)    0.500    1.000000
10        (Chicken)        (Rice)    0.250    1.000000
13    (Rice, Apple)        (Bear)    0.250    1.000000
18  (Rice, Chicken)        (Bear)    0.250    1.000000
20  (Chicken, Bear)        (Rice)    0.250    1.000000
22        (Chicken)  (Rice, Bear)    0.250    1.000000
23     (Rice, Milk)        (Bear)    0.250    1.000000
0           (Apple)        (Bear)    0.375    0.750000
5            (Milk)        (Bear)    0.375    0.750000
8            (Bear)        (Rice)    0.500    0.666667
15    (Apple, Bear)        (Rice)    0.250    0.666667
25     (Milk, Bear)        (Rice)    0.250    0.666667

##### Recommendations

In [19]:
rules[rules['antecedents'] == {'Apple'}]

   antecedents   consequents  support  confidence
0      (Apple)        (Bear)    0.375        0.75
3      (Apple)        (Rice)    0.250        0.50
17     (Apple)  (Rice, Bear)    0.250        0.50

In [20]:
rules[rules['antecedents'] == {'Apple', 'Bear'}]['consequents']

15    (Rice)
Name: consequents, dtype: object

In [21]:
rules[rules['antecedents'] == {'Bear', 'Apple'}]['consequents']

15    (Rice)
Name: consequents, dtype: object

In [22]:
rules[rules['antecedents'] == {'Bear', 'Apple'}]['consequents'].values[0]

frozenset({'Rice'})

##### Export the rules

In [23]:
rules.to_csv('rules.csv', index=False)